.tooltip-style {
    border-radius: 50%;
    font-size: 0.8rem;
    color: #fff !important;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border: 1px solid #323a46;
}

.tooltip-style-v2 {
    font-size: 1rem;
    color: #fff !important;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.tooltip-style-v3 {
    border-radius: 50%;
    font-size: 0.6rem;
    color: #fff !important;
    padding: 0.2rem 0.55rem 0.2rem 0.55rem;
    border: 1px solid #323a46;
}